@model IEnumerable<FeLuisesScrumDEV.Models.WorksIn>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee.employeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project.projectName)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                Rol
                @*@Html.DisplayFor(modelItem => item.role)*@
            </td>
            <td>
                Nombre empleado
                @*@Html.DisplayFor(modelItem => item.Employee.employeeName)*@
            </td>
            <td>
                Nombre del proyecto
                @*@Html.DisplayFor(modelItem => item.Project.projectName)*@
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
