@model FeLuisesScrumDEV.Models.Requeriment

    @{
        ViewBag.Title = "Delete";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <link href="~/FeStyles/feLuisesStyles.css" rel="stylesheet" type="text/css">

    @if (Session["userName"] == null && Convert.ToInt32(Session["userRole"]) != 0)
    {

        <div class="container">

            <div class="card">
                <div class="card-header">
                    <h2 id="heading-red">No se vale hackear!</h2>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Debe logguearse para hacer uso de la aplicación</h5>
                    <a href=@Url.Action("Index", "Login") class="btn btn-danger">Volver</a>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="container">
            <h2 id="heading-red">Desea eliminar este Requerimiento?</h2>
            <div class="card border-dark" id="shadow-Fe1">
                <h2 class="card-header text-white" id="back-Fe1"> @Model.objective?</h2>
                <div class="card-body">
                    <!--inicio del cuerpo de la card (sección del medio)-->
                    <div class="form">
                        <!--Inicio de vista en "formulario"-->
                        <div class="form-row">
                            <!--Inicio de fila-->
                            <div class="col">
                                <!--Inicio de columna-->
                                <div class="form-group">
                                    <b>Duracion estimada</b>
                                    <div class="col-md-10">
                                        @Html.DisplayFor(model => model.estimatedDuration)
                                        @if (Model.estimatedDuration == null)
                                        {
                                            <p class="card-text text-info">Informacion no disponible</p>
                                        }
                                    </div>
                                </div>

                                <div class="form-group">
                                    <b>Duración real</b>
                                    <div class="col-md-10">
                                        @Html.DisplayFor(model => model.realDuration)
                                        @if (Model.realDuration == null)
                                        {
                                            <p class="card-text text-info">Informacion no disponible</p>
                                        }
                                    </div>
                                </div>

                                <div class="form-group">
                                    <b>Estado</b>
                                    <div class="col-md-10">
                                        @Html.DisplayFor(model => model.status)
                                        @if (Model.status == null)
                                        {
                                            <p class="card-text text-info">Informacion no disponible</p>
                                        }
                                    </div>
                                </div>
                            </div><!--Fin de columna-->
                            <div class="col">
                                <div class="form-group">
                                    <b>Fecha de inicio</b>
                                    <div class="col-md-10">
                                        @Html.DisplayFor(model => model.startingDate)
                                        @if (Model.startingDate == null)
                                        {
                                            <p class="card-text text-info">Informacion no disponible</p>
                                        }
                                    </div>
                                </div>
                                <div class="form-group">
                                    <b>Complejidad</b>
                                    <div class="col-md-10">
                                        @Html.DisplayFor(model => model.complexity)
                                        @if (Model.complexity == null)
                                        {
                                            <p class="card-text text-info">Informacion no disponible</p>
                                        }
                                    </div>
                                </div>
                                <div class="form-group">
                                    <b>Nombre del empleado</b>
                                    <div class="col-md-10">
                                        @Html.DisplayFor(model => model.Employee.employeeName)
                                        @if (Model.Employee.employeeName == null)
                                        {
                                            <p class="card-text text-info">Informacion no disponible</p>
                                        }
                                    </div>
                                </div>
                            </div><!--Fin de columna-->
                            <div class="col">
                                <div class="form-group">
                                    <b>Fecha de finalización</b>
                                    <div class="col-md-10">
                                        @Html.DisplayFor(model => model.endDate)
                                        @if (Model.endDate == null)
                                        {
                                            <p class="card-text text-info">Informacion no disponible</p>
                                        }
                                    </div>
                                </div>
                                <div class="form-group">
                                    <b>Nombre del modulo</b>
                                    <div class="col-md-10">
                                        @Html.DisplayFor(model => model.Module.name)
                                        @if (Model.Module.name == null)
                                        {
                                            <p class="card-text text-info">Informacion no disponible</p>
                                        }
                                    </div>
                                </div>
                            </div><!--Fin de columna-->
                        </div><!--Fin de form-row-->
                    </div><!--Fin de class form-->
                </div><!--Fin del card-body-->
                <div class="card-footer" id="back-Fe1">
                    @using (Html.BeginForm())
                                        {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">

                            <input type="image" src="~/Images/accept.svg" class="btn btn-outline-success" alt="Submit" />

                            <a class="btn btn-outline-danger" role="button" href="@Url.Action("Details", "Requeriments", new {idProjectFKPK = Model.idProjectFKPK, idModuleFKPK = Model.idModuleFKPK, idRequerimentPK = Model.idRequerimentPK })">
                                <img src="~/Images/cancel.svg" width="25" height="25" class="d-inline-block align-top" alt="">
                            </a>

                        </div>
                                        }
                </div><!--Fin del card-footer-->
            </div><!--Fin del card-->
        </div><!--Fin del container-->
    }
