<html>
@model FeLuisesScrumDEV.Models.Requeriment
<head>
    @{
        ViewBag.Title = "Details";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <link href="~/FeStyles/feLuisesStyles.css" rel="stylesheet" type="text/css">
</head>

@{
    string[] states = { "No iniciado", "En proceso", "Interrumpido", "Completado" };
    string[] complexity = { "No asignado", "Simple", "Mediano", "Complejo", "Muy complejo" };
}

<body>
    @if (Session["userName"] == null && Convert.ToInt32(Session["userRole"]) != 0)
    {

        <div class="container">

            <div class="card">
                <div class="card-header">
                    <h2 id="heading-red">No se vale hackear!</h2>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Debe logguearse para hacer uso de la aplicación</h5>
                    <a href=@Url.Action("Index", "Login") class="btn btn-danger">Volver</a>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="container">
            <div class="card border-dark shadow rounded" style="width: auto; height: auto;">
                <h2 class="card-header text-white" id="back-Fe1">Detalles de Requerimiento</h2>
                <div class="card-body">

                    <div class="form">
                        <div class="form-row">

                            <div class="col">
                                <div class="form-group">
                                    <b>Proyecto</b>
                                    <div class="col-md-6">
                                        @Html.DisplayFor(model => model.Module.Project.projectName)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <b>Módulo</b>
                                    <div class="col-md-6">
                                        @Html.DisplayFor(model => model.objective)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <b>Objetivo</b>
                                    <div class="col-md-6">
                                        @Html.DisplayFor(model => model.estimatedDuration, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                            <div class="col">

                                <div class="form-group">
                                    <b>Complejidad</b>
                                    <div class="col-md-6">
                                        @complexity[(int)Model.complexity]
                                    </div>
                                </div>

                                <div class="form-group">
                                    <b>Estado</b>
                                    <div class="col-md-6">
                                        @states[(int)Model.status]
                                    </div>
                                </div>

                                <div class="form-group">
                                    <b>Empleado a Cargo</b>
                                    <div class="col-md-6">
                                        @Html.DisplayFor(model => model.Employee.employeeName)
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="form-group">
                                    <b>Duración Estimada</b>
                                    <div class="col-md-6">
                                        @Html.DisplayFor(model => model.estimatedDuration)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <b>Duración Real</b>
                                    <div class="col-md-6">
                                        @Html.DisplayFor(model => model.realDuration)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <b>Fecha de Inicio</b>
                                    <div class="col-md-6">
                                        @Html.DisplayFor(model => model.startingDate)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <b>Fecha de Finalización</b>
                                    <div class="col-md-6">
                                        @Html.DisplayFor(model => model.endDate)
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div><!--Final form-->
                </div>
                <div class="card-footer" id="back-Fe1">
                    <a class="btn" role="button" href="@Url.Action("Index", "Requeriments")">
                        <img src="~/Images/b-back.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                    </a>
                    @if (Convert.ToInt32(Session["userRole"]) == 0 || Convert.ToInt32(Session["userRole"]) == 1)
                    {
                        <a class="btn" role="button" href="@Url.Action("Edit", "Requeriments", new { idProjectFKPK = Model.idProjectFKPK, idModuleFKPK = Model.idModuleFKPK, idRequerimentPK = Model.idRequerimentPK })">
                            <img src="~/Images/b-edit.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                        </a>
                    }
                    @if (Convert.ToInt32(Session["userRole"]) == 0)
                    {
                        <a class="btn btn-outline-danger" role="button" href="@Url.Action("Delete", "Requeriments", new { idProjectFKPK = Model.idProjectFKPK, idModuleFKPK = Model.idModuleFKPK, idRequerimentPK = Model.idRequerimentPK })">
                            <img src="~/Images/b-delete.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                        </a>
                    }
                </div>
            </div>
        </div>
    }

</body>
</html>