<html>
@model FeLuisesScrumDEV.Models.Requeriment
<head>
    @{
        ViewBag.Title = "Edit";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <link href="~/FeStyles/feLuisesStyles.css" rel="stylesheet" type="text/css">
</head>

<body>

    <div class="container">
        @using (Html.BeginForm())
        {
            if (Session["userName"] == null)
            {
                <div class="container">

                    <div class="card">
                        <div class="card-header">
                            <h2 id="heading-red">No se vale hackear!</h2>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Debe logguearse para hacer uso de la aplicación</h5>
                            <a href=@Url.Action("Index", "Login") class="btn btn-danger">Volver</a>
                        </div>
                    </div>
                </div>
            }
            else
            {
                @Html.AntiForgeryToken()

    <div class="card border-dark shadow rounded" style="width: auto; height: auto;">
        <h2 class="card-header text-white" id="back-Fe1">Editar Requerimiento</h2>
        <div class="card-body">
            <div class="form">
                <div class="form-row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.idProjectFKPK)
                    @Html.HiddenFor(model => model.idModuleFKPK)
                    @Html.HiddenFor(model => model.idRequerimentPK)
                    <div class="col">
                        <!--Primera columna-->
                        <div class="form-group">
                            <b>Objetivo*</b>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.objective, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.objective, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <b>Complejidad</b>
                            <div class="col-md-6">
                                @Html.DropDownList("complexity", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.complexity, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <b>Estado</b>
                            <div class="col-md-6">
                                @Html.DropDownList("status", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <b>Empleado a cargo</b>
                            <div class="col-md-6">
                                @Html.DropDownList("idEmployeeFK", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.idEmployeeFK, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div> <!--col 1era-->

                    <div class="col">

                        <div class="form-group">
                            <b>Duración Estimada</b>
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.estimatedDuration, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.estimatedDuration, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <b>Duración Real</b>
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.realDuration, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.realDuration, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <b>Fecha de Inicio*</b>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.startingDate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                                @Html.ValidationMessageFor(model => model.startingDate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <b>Fecha de Finalización*</b>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.endDate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                                @Html.ValidationMessageFor(model => model.endDate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div> <!--3era col-->

                </div> <!--form-row-->
            </div> <!--form-->
        </div> <!--card-body-->
        <div class="card-footer" id="back-Fe1">
            <a class="btn" role="button" href="@Url.Action("Index", "Requeriments")">
                <img src="~/Images/b-back.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            </a>
            <input type="image" src="~/Images/accept.svg" class="btn btn btn-outline-success" alt="Submit">
            <a class="btn btn-outline-danger" role="button" href="@Url.Action("Index", "Requeriments")">
                <img src="~/Images/cancel.svg" width="25" height="25" class="d-inline-block align-top" alt="">
            </a>
        </div>

    </div> <!--card-->
            }
        }
    </div>
</body>
</html>