<!DOCTYPE html>
<html>
@model FeLuisesScrumDEV.Models.DeveloperKnowledge
<head>

    @{
        ViewBag.Title = "Create";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <link href="~/FeStyles/feLuisesStyles.css" rel="stylesheet" type="text/css">
    <script>
        $(document).ready(function () {
            getProvincia();
        })
    </script>

</head>

<body>
    <div class="container">
        <div class="card border-dark rounded" id="shadow-Fe1" style="width:auto; height:auto;">
            <h2 class="card-header text-white" id="back-Fe1">Agregar conocimiento </h2>
            <div class="card-body">

                @using (Html.BeginForm())
                {
                @Html.AntiForgeryToken()


                <div class="form">
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    <b>Nombre</b>
                                    @*@Html.LabelFor(model => model.idEmployeeFKPK, "idEmployeeFKPK", htmlAttributes: new { @class = "control-label col-md-2" })*@
                                    <div class="col-md-10">
                                        @Html.DropDownList("idEmployeeFKPK", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.idEmployeeFKPK, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <b>Conocimiento</b>
                                    @*@Html.LabelFor(model => model.devKnowledgePK, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.devKnowledgePK, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.devKnowledgePK, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div> <!--Fin de col-->
                        </div><!--Fin de col-->
                    </div> <!--Fin del form-row-->


                    <div class="col-md-offset-2 col-md-10">
                        <input type="image" src="~/Images/save.svg" class="btn btn btn-outline-success" alt="Submit" />

                        <a class="btn btn-outline-danger" role="button" href="@Url.Action("Index", "DeveloperKnowledges")">
                            <img src="~/Images/cancel.svg" width="25" height="25" class="d-inline-block align-top" alt="">
                        </a>

                    </div>





                </div><!--Final de form-->

                    }
                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="card-footer" id="back-Fe1">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="image" src="~/Images/save.svg" class="btn btn btn-outline-success" alt="Submit" />

                            <a class="btn btn-outline-danger" role="button" href="@Url.Action("Index", "DeveloperKnowledges")">
                                <img src="~/Images/cancel.svg" width="25" height="25" class="d-inline-block align-top" alt="">
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>






<!--
@**

<div class="col">
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
                            }

                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>
    *@
-->