<!DOCTYPE html>
<html>
@model FeLuisesScrumDEV.Models.Employee
<head>

    @{
        ViewBag.Title = "Create";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <script>
        $(document).ready(function () {
            getProvincia();
        })
    </script>

</head>

<body>
    <div class="container">
        <h2>Agregar Empleado</h2>
        <hr />

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form">
                <div class="form-row">
                    <div class="col">
                        <div class="form-group">
                            <b>ID</b>
                            @*@Html.LabelFor(model => model.idEmployeePK, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.idEmployeePK, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.idEmployeePK, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <b>Nombre</b>
                            @*@Html.LabelFor(model => model.employeeName, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.employeeName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.employeeName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <b>Apellido</b>
                            @*@Html.LabelFor(model => model.employeeLastName, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.employeeLastName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.employeeLastName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <b>Segundo Apellido</b>
                            @* @Html.LabelFor(model => model.employeeSecondLastName, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.employeeSecondLastName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.employeeSecondLastName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <b>Fecha de nacimiento</b>
                            @*@Html.LabelFor(model => model.employeeBirthDate, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.employeeBirthDate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                                @Html.ValidationMessageFor(model => model.employeeBirthDate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <b>Teléfono</b>
                            @*@Html.LabelFor(model => model.tel, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.tel, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.tel, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <b>E-mail</b>
                            @*@Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group">
                            <b>Provincia</b>
                            @*@Html.LabelFor(model => model.province, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.province, Enumerable.Empty<SelectListItem>(), "-- Select Name --", new { @class = "form-control", onchange = "getCanton()" })
                                @Html.ValidationMessageFor(model => model.province, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <b>Cantón</b>
                            @*@Html.LabelFor(model => model.canton, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.canton, Enumerable.Empty<SelectListItem>(), "-- Select Name --", new { @class = "form-control", onchange = "getDistrict()" })
                                @Html.ValidationMessageFor(model => model.canton, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <b>Distrito</b>
                            @*@Html.LabelFor(model => model.district, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.district, Enumerable.Empty<SelectListItem>(), "-- Select Name --", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.district, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <b>Dirección exacta</b>
                            @*@Html.LabelFor(model => model.exactDirection, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.exactDirection, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.exactDirection, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div> <!--Fin de col-->

                    <div class="col">

                        <div class="form-group">
                            <b>Fecha de ingreso</b>
                            @*@Html.LabelFor(model => model.employeeHireDate, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.employeeHireDate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                                @Html.ValidationMessageFor(model => model.employeeHireDate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <b>Tipo de empleado</b>
                            @*@Html.LabelFor(model => model.developerFlag, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.developerFlag, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.developerFlag, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <b>Precio por hora</b>
                            @*@Html.LabelFor(model => model.pricePerHour, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.pricePerHour, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.pricePerHour, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <b>Disponibilidad</b>
                            @*@Html.LabelFor(model => model.availability, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.availability, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.availability, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div><!--Fin de col-->
                </div> <!--Fin del form-row-->
            </div><!--Final de form-->

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">

                    <a class="btn" role="button" href="@Url.Action("Index", "Employees")">
                        <img src="~/Images/back.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                    </a>
                    <input type="image" src="~/Images/save.svg" class="btn btn btn-outline-success" alt="Submit" />
                    
                    <a class="btn btn-outline-danger" role="button" href="@Url.Action("Index", "Employees")">
                        <img src="~/Images/cancel.svg" width="25" height="25" class="d-inline-block align-top" alt="">
                    </a>

                </div>
            </div>

        }
    </div>
</body>
</html>
