<!DOCTYPE html>
<html>
@model FeLuisesScrumDEV.Models.Employee
<head>
    @{
        ViewBag.Title = "Details";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <link href="~/FeStyles/feLuisesStyles.css" rel="stylesheet" type="text/css">
    <script>
        // Era neceario traducir lo que estaba en la BD por lo que se vuelve ha usar el webservice
        $(document).ready(function () {
            if (@Html.DisplayFor(model => model.province) == 1) {
                $("#province").html("San José");
            } else if(@Html.DisplayFor(model => model.province) == 2){
                $("#province").html("Alajuela");
            } else if(@Html.DisplayFor(model => model.province) == 3){
                $("#province").html("Cartago");
            } else if(@Html.DisplayFor(model => model.province) == 4){
                $("#province").html("Heredia");
            } else if(@Html.DisplayFor(model => model.province) == 5){
                $("#province").html("Guanacaste");
            } else if(@Html.DisplayFor(model => model.province) == 6){
                $("#province").html("Puntarenas");
            } else if(@Html.DisplayFor(model => model.province) == 7){
                $("#province").html("Limón");
            }

            $.ajax({
                dataType: "json",
                url: "https://ubicaciones.paginasweb.cr/provincia/" + @Html.DisplayFor(model => model.province) + "/cantones.json",
                data: {},
                success: function (data) {
                    $("#canton").html(data[@Html.DisplayFor(model => model.canton)]);
                }
            });
            $.ajax({
                dataType: "json",
                url: "https://ubicaciones.paginasweb.cr/provincia/" + @Html.DisplayFor(model => model.province) + "/canton/"+@Html.DisplayFor(model => model.canton)+"/distritos.json",
                data: {},
                success: function (data) {
                    $("#district").html(data[@Html.DisplayFor(model => model.district)]);
                }
            });
        });
    </script>
</head>
@*@{
        ViewBag.Title = "Details";
    }*@

<body>
    @if (Session["userName"] == null)
    {

        <div class="container">

            <div class="card">
                <div class="card-header">
                    <h2 id="heading-red">No se vale hackear!</h2>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Debe logguearse para hacer uso de la aplicación</h5>
                    <a href=@Url.Action("Index", "Login") class="btn btn-danger">Volver</a>
                </div>
            </div>
        </div>
    }
    else
    {
        <div>
            <div class="container">
                <h2>Detalles</h2>
                <hr />
                <div>
                    <div class="card rounded" style="width: auto; height: auto;" id="border-Fe">
                        <div class="card-header text-white" id="back-Fe1">
                            <h2>Empleado</h2>
                        </div>
                        <div class="card-body">

                            <div class="form">
                                <div class="from-row">
                                    <div class="col-10">

                                        <div class="form-group">
                                            <b>Nombre del Empleado</b>
                                            <div class="col-md-10">
                                                @Html.DisplayFor(model => model.employeeName)
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <b>Apellido del Empleado</b>
                                            <div class="col-md-10">
                                                @Html.DisplayFor(model => model.employeeLastName)
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <b>Segundo Apellido del Empleado</b>
                                            <div class="col-md-10">
                                                @Html.DisplayFor(model => model.employeeSecondLastName)
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <b>Fecha de Nacimiento</b>
                                            <div class="col-md-10">
                                                @Html.DisplayFor(model => model.employeeBirthDate)
                                            </div>
                                        </div>

                                    </div> <!--Final de col-->

                                    <div class="col">

                                        <div class="form-group">
                                            <b>Provincia</b>
                                            <div class="col-md-10">
                                                <span id="province"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <b>Cantón</b>
                                            <div class="col-md-10">
                                                <span id="canton"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <b>Distrito</b>
                                            <div class="col-md-10">
                                                <span id="district"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <b>Dirección Exacta</b>
                                            <div class="col-md-10">
                                                @Html.DisplayFor(model => model.exactDirection)
                                            </div>
                                        </div>

                                    </div><!--Final de col-->

                                    <div class="col">

                                        <div class="form-group">
                                            <b>Teléfono</b>
                                            <div class="col-md-10">
                                                @Html.DisplayFor(model => model.tel)
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <b>Email</b>
                                            <div class="col-md-10">
                                                @Html.DisplayFor(model => model.email)
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <b>Fecha de Ingreso</b>
                                            <div class="col-md-10">
                                                @Html.DisplayFor(model => model.employeeHireDate)
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <b>Tipo de Empleado</b>
                                            <div class="col-md-10">
                                                @if (Model.developerFlag == 1)
                                                {
                                                    <b>Desarrollador</b>
                                                }
                                                else
                                                {
                                                    <b>Empleado</b>
                                                }
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <b>Precio por Hora</b>
                                            <div class="col-md-10">
                                                @Html.DisplayFor(model => model.pricePerHour)
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <b>Disponible</b>
                                            @if (Model.availability == 0)
                                            {
                                                <div class="form-check form-check">
                                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" checked value="" disabled>
                                                </div>
                                            }
                                            else if (Model.availability == 1)
                                            {
                                                <div class="form-check form-check">
                                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="" disabled>
                                                </div>
                                            }
                                        </div>
                                    </div>


                                </div><!--final de form-row-->
                            </div> <!--final de form-->
                            
                        </div>
                        <div class="card-footer" id="back-Fe1">
                            <a class="btn" role="button" href="@Url.Action("Index", "Employees")">
                                <img src="~/Images/b-back.svg" width="25" height="25" class="d-inline-block align-top" alt="">
                            </a>
                            <a class="btn" role="button" href="@Url.Action("Edit", "Employees", new { id = Model.idEmployeePK })">
                                <img src="~/Images/edit.svg" width="25" height="25" class="d-inline-block align-top" alt="">
                            </a>
                            <a class="btn btn-outline-danger" role="button" href="@Url.Action("Delete", "Employees", new { id = Model.idEmployeePK })">
                                <img src="~/Images/delete.svg" width="25" height="25" class="d-inline-block align-top" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</body>
</html>

@*
    @Html.ActionLink("Edit", "Edit", new { id = Model.idEmployeePK }) |
    @Html.ActionLink("Back to List", "Index")
*@