<!DOCTYPE html>
<html>
@model FeLuisesScrumDEV.Models.Employee
<head>
    @{
        ViewBag.Title = "Details";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <link href="~/FeStyles/feLuisesStyles.css" rel="stylesheet" type="text/css">
    <script>
        // Era neceario traducir lo que estaba en la BD por lo que se vuelve ha usar el webservice
        $(document).ready(function () {
            //@Html.DisplayFor(model => model.province)
            if (@Html.DisplayFor(model => model.province) == 1) {
                $("#province").html("San José");
            } else if(@Html.DisplayFor(model => model.province) == 2){
                $("#province").html("Alajuela");
            } else if(@Html.DisplayFor(model => model.province) == 3){
                $("#province").html("Cartago");
            } else if(@Html.DisplayFor(model => model.province) == 4){
                $("#province").html("Heredia");
            } else if(@Html.DisplayFor(model => model.province) == 5){
                $("#province").html("Guanacaste");
            } else if(@Html.DisplayFor(model => model.province) == 6){
                $("#province").html("Puntarenas");
            } else if(@Html.DisplayFor(model => model.province) == 7){
                $("#province").html("Limón");
            }

            $.ajax({
                dataType: "json",
                url: "https://ubicaciones.paginasweb.cr/provincia/" + @Html.DisplayFor(model => model.province) + "/cantones.json",
                data: {},
                success: function (data) {
                    $("#canton").html(data[@Html.DisplayFor(model => model.canton)]);
                }
            });
            $.ajax({
                dataType: "json",
                url: "https://ubicaciones.paginasweb.cr/provincia/" + @Html.DisplayFor(model => model.province) + "/canton/"+@Html.DisplayFor(model => model.canton)+"/distritos.json",
                data: {},
                success: function (data) {
                    $("#district").html(data[@Html.DisplayFor(model => model.district)]);
                }
            });
        });
    </script>
</head>
@*@{
        ViewBag.Title = "Details";
    }*@

@if (Session["userName"] == null)
{

    <div class="container">

        <div class="card">
            <div class="card-header">
                <h2 id="heading-red">No se vale hackear!</h2>
            </div>
            <div class="card-body">
                <h5 class="card-title">Debe logguearse para hacer uso de la aplicación</h5>
                <a href=@Url.Action("Index", "Login") class="btn btn-danger">Volver</a>
            </div>
        </div>
    </div>
}
else
{
    <div class=" container">
        <h2>Detalle de Empleado</h2>
        <hr />
        <div class="card rounded border-dark" id="shadow-Fe1" style="width: auto; height:auto;">
            <h2 class="card-header text-white" id="back-Fe1">@Model.employeeName</h2><!--Inicio y fin de encabezado de la card (título)-->
            <div class="card-body">
                <!--inicio del cuerpo de la card (sección del medio)-->
                <div class="form">
                    <!--Inicio de vista en "formulario"-->
                    <div class="form-row">
                        <!--Inicio de fila-->
                        <div class="col">
                            <!--Inicio de columna-->
                            <div class="form-group">
                                <b>Nombre del Empleado</b>
                                <div class="col-md-10">
                                    @Html.DisplayFor(model => model.employeeName)
                                    @if (Model.employeeName == null)
                                    {
                                        <p class="card-text text-info">Informacion no disponible</p>
                                    }
                                </div>
                            </div>

                            <div class="form-group">
                                <b>Fecha de nacimiento</b>
                                <div class="col-md-10">
                                    @Html.DisplayFor(model => model.employeeBirthDate)
                                    @if (Model.employeeBirthDate == null)
                                    {
                                        <p class="card-text text-info">Informacion no disponible</p>
                                    }
                                </div>
                            </div>

                            <div class="form-group">
                                <b>Provincia</b>
                                <div class="col-md-10">
                                    <span id="province"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <b>Direccion exacta</b>
                                <div class="col-md-10">
                                    @Html.DisplayFor(model => model.exactDirection)
                                    @if (Model.exactDirection == null)
                                    {
                                        <p class="card-text text-info">Informacion no disponible</p>
                                    }
                                </div>
                            </div>

                            <div class="form-group">
                                <b>Precio por hora</b>
                                <div class="col-md-10">
                                    @Html.DisplayFor(model => model.pricePerHour)
                                    @if (Model.pricePerHour == null)
                                    {
                                        <p class="card-text text-info">Informacion no disponible</p>
                                    }
                                </div>
                            </div>

                        </div><!--Fin de columna-->
                        <div class="col">
                            <!--Inicio de columna-->
                            <div class="form-group">
                                <b>Apellido</b>
                                <div class="col-md-10">
                                    @Html.DisplayFor(model => model.employeeLastName)
                                    @if (Model.employeeLastName == null)
                                    {
                                        <p class="card-text text-info">Informacion no disponible</p>
                                    }
                                </div>
                            </div>

                            <div class="form-group">
                                <b>Telefono</b>
                                <div class="col-md-10">
                                    @Html.DisplayFor(model => model.tel)
                                    @if (Model.tel == null)
                                    {
                                        <p class="card-text text-info">Informacion no disponible</p>
                                    }
                                </div>
                            </div>

                            <div class="form-group">
                                <b>Cantón</b>
                                <div class="col-md-10">
                                    <span id="canton"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <b>Fecha de ingreso</b>
                                <div class="col-md-10">
                                    @Html.DisplayFor(model => model.employeeHireDate)
                                    @if (Model.employeeHireDate == null)
                                    {
                                        <p class="card-text text-info">Informacion no disponible</p>
                                    }
                                </div>
                            </div>

                            <div class="form-group">
                                <b>Disponible</b>
                                @if (Model.availability == 0)
                                {
                                    <div class="form-check form-check">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" checked value="" disabled>
                                    </div>
                                }
                                else if (Model.availability == 1)
                                {
                                    <div class="form-check form-check">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="" disabled>
                                    </div>
                                }
                            </div>

                        </div><!--Fin de columna-->
                        <div class="col">
                            <!--Inicio de columna-->
                            <div class="form-group">
                                <b>Segundo Apellido</b>
                                <div class="col-md-10">
                                    @Html.DisplayFor(model => model.employeeSecondLastName)
                                    @if (Model.employeeSecondLastName == null)
                                    {
                                        <p class="card-text text-info">Informacion no disponible</p>
                                    }
                                </div>
                            </div>
                            <div class="form-group">
                                <b>E-mail</b>
                                <div class="col-md-10">
                                    @Html.DisplayFor(model => model.email)
                                    @if (Model.email == null)
                                    {
                                        <p class="card-text text-info">Informacion no disponible</p>
                                    }
                                </div>
                            </div>

                            <div class="form-group">
                                <b>Distrito</b>
                                <div class="col-md-10">
                                    <span id="district"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <b>Tipo de Empleado</b>
                                <div class="col-md-10">
                                    @if (Model.developerFlag == 1)
                                    {
                                        <b>Desarrollador</b>
                                    }
                                    else
                                    {
                                        <b>Empleado</b>
                                    }
                                </div>
                            </div>
                        </div><!--Fin de columna-->
                    </div><!--Fin de form-row-->
                </div><!--Fin de class form-->
            </div><!--Fin de card-body-->
            <div class="card-footer" id="back-Fe1">
                <!--Inicio del footer-->
                <a class="btn" role="button" href="@Url.Action("Index", "Employees", null)">
                    <img src="~/Images/b-back.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                </a>

                @if (Convert.ToInt32(Session["userRole"]) == 0) // Solo si es jefe desarrollador
                {
                    <a class="btn" role="button" href="@Url.Action("Edit", "Employees", new { id = Model.idEmployeePK })">
                        <img src="~/Images/edit.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                    </a><!--Botón para entrar a editar el proyecto.-->
                    <a class="btn btn-outline-danger" role="button" href="@Url.Action("Delete", "Employees", new { id = Model.idEmployeePK })">
                        <img src="~/Images/delete.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                    </a><!--Botón para entrar a borrar el proyecto.-->
                }
            </div><!--Fin de card-footer-->
        </div><!--Fin de card-->
    </div><!--Fin del container-->
}
</body>
</html>

@*
    @Html.ActionLink("Edit", "Edit", new { id = Model.idEmployeePK }) |
    @Html.ActionLink("Back to List", "Index")
*@