<!DOCTYPE html>
<html>
@model IEnumerable<FeLuisesScrumDEV.Models.Client>
<head>

    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <script>
        $(document).ready(function () {
            $('#clientsIndex').DataTable();
        });
    </script>
    <!--#D5CDFF para el morado de las stripes-->
</head>

<body>
    <div class="container">
        <h2>Clientes</h2>
        <br />

        <table id="clientsIndex" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>
                        Nombre
                        @*@Html.DisplayNameFor(model => model.clientName)*@
                    </th>
                    <th>
                        Apellido
                        @* @Html.DisplayNameFor(model => model.clientLastName) *@
                    </th>
                    <th>
                        Segundo Apellido
                        @* @Html.DisplayNameFor(model => model.clientSecondLastName) *@
                    </th>
                    <th>
                        Compañía
                        @*@Html.DisplayNameFor(model => model.company)*@
                    </th>
                    <th>
                        Teléfono
                        @*@Html.DisplayNameFor(model => model.tel)*@
                    </th>
                    <th>
                        E-Mail
                        @*@Html.DisplayNameFor(model => model.email)*@
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a class="btn" role="button" href="@Url.Action("Details", "Clients", new { id = item.idClientPK } )">@Html.DisplayFor(modelItem => item.clientName)</a>
                        </td>
                        <td>
                            <a class="btn" role="button" href="@Url.Action("Details", "Clients", new { id = item.idClientPK } )">@Html.DisplayFor(modelItem => item.clientLastName)</a>
                        </td>
                        <td>
                            <a class="btn" role="button" href="@Url.Action("Details", "Clients", new { id = item.idClientPK } )">@Html.DisplayFor(modelItem => item.clientSecondLastName)</a>
                        </td>
                        <td>
                            <a class="btn" role="button" href="@Url.Action("Details", "Clients", new { id = item.idClientPK } )"> @Html.DisplayFor(modelItem => item.company)</a>
                        </td>
                        <td>
                            <a class="btn" role="button" href="@Url.Action("Details", "Clients", new { id = item.idClientPK } )">@Html.DisplayFor(modelItem => item.tel)</a>
                        </td>
                        <td>
                            <a class="btn" role="button" href="@Url.Action("Details", "Clients", new { id = item.idClientPK } )">@Html.DisplayFor(modelItem => item.email)</a>
                        </td>
                        <td>
                            <a class="btn" role="button" href="@Url.Action("Edit", "Clients", new { id = item.idClientPK } )">
                                <img src="~/Images/edit.svg" width="25" height="25" class="d-inline-block align-top" alt="">
                            </a>

                            @*
                                @Html.ActionLink("Editar", "Edit", new { id = item.idClientPK }) |
                                @Html.ActionLink("Detalles", "Details", new { id = item.idClientPK }) |
                                @Html.ActionLink("Eliminar", "Delete", new { id = item.idClientPK })
                            *@
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    <p>

        <a class="btn btn-outline" role="button" href=@Url.Action("Create", "Clients" )>
            <img src="~/Images/add.svg" width="60" height="60" class="d-inline-block align-top" alt="">
        </a>
    </p>
</body>
</html>