@model IEnumerable<FeLuisesScrumDEV.Models.Employee>

@{
    ViewBag.role = "Employees";
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.employeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employeeLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employeeSecondLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employeeBirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employeeHireDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.developerFlag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.province)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.canton)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.district)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.exactDirection)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pricePerHour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.availability)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.employeeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employeeLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employeeSecondLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employeeBirthDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employeeHireDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.developerFlag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.province)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.canton)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.district)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.exactDirection)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pricePerHour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.availability)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idEmployeePK }) |
            @Html.ActionLink("Details", "Details", new { id=item.idEmployeePK }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idEmployeePK })
        </td>
    </tr>
}

</table>
