<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/feScripts/FeLuisesScripts.js")
    @Styles.Render("~/Content/feLuisesStyles.css")
    <!--<link href="~/FeStyles/feLuisesStyles.css" rel="stylesheet">-->

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

</head>
<!--
/*
    * userRole:
    *          0 = Jefe Desarrollador
    *          1 = Desarrollador
    *          2 = Líder
    *          3 = Cliente
    */
-->

<body>
    @if (Session["userName"] != null)
    {
        <div>
            <nav class="navbar navbar-expand-lg navbar-light navbar-styles fixed-top">
                <div class="container">

                    <a class="navbar-brand" href="@Url.Action("", "Home", null)">
                        <img src="~/Images/logo1.svg" width="40" height="40" class="d-inline-block align-top" alt="">
                        FeLuises
                    </a>
                    <!--Para cuando se hace pequeño-->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">


                        @if (Convert.ToInt32(Session["userRole"]) == 0)
                        {  //Jefe desarrollador
                        <ul class="navbar-nav mr-auto ">
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Projects")">Proyectos</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Clients")">Clientes</a>
                            </li>


                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Employees")">Empleados</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href=@Url.Action("Index", "WorksIns")>Equipos</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href=@Url.Action("Index", "Requeriments")>Requerimientos</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Modules")">Módulos</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Reports")">Reportes</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Calendar")">Calendario</a>
                            </li>
                        </ul>
                        }

                        @if (Convert.ToInt32(Session["userRole"]) == 2)
                        { //Líder
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Projects")">Proyectos</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href=@Url.Action("Index", "WorksIns")>Equipo</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href=@Url.Action("Index", "Requeriments")>Requerimientos</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Modules")">Módulos</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Reports")">Reportes</a>
                            </li>
                        </ul>
                        }


                        @if (Convert.ToInt32(Session["userRole"]) == 1)
                        {  //Desarrollador
                        <ul class="navbar-nav mr-auto ">
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Projects")">Proyectos</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href=@Url.Action("Index", "WorksIns")>Equipos</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href=@Url.Action("Index", "Requeriments")>Requerimientos</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Reports")">Reportes</a>
                            </li>
                        </ul>
                        }

                        @if (Convert.ToInt32(Session["userRole"]) == 3)
                        {  //Cliente
                    <ul class="navbar-nav mr-auto ">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Projects")">Proyectos</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href=@Url.Action("Index", "Requeriments")>Requerimientos</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Reports")">Reportes</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Calendar")">Calendario</a>
                        </li>
                    </ul>
                        }

                        @{ 
                            string typeOfProfile = "";
                            if(Convert.ToInt32(Session["userRole"]) != 3)
                            {
                                typeOfProfile = "EmployeeProfile";
                            }else{
                                typeOfProfile = "ClientProfile";
                            }
                        }


                        @if (Session["userName"] != null)
                        {
                            <ul class="navbar-nav ml-auto ">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons d-inline-block align-top">person</i>  @Session["userName"].ToString()
                                    </a> <!--<img src="~/Images/usr.svg" width="30" height="30" class="d-inline-block align-top" alt="">-->
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="@Url.Action(typeOfProfile, "LogIn")">~Mi perfil~</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="@Url.Action("Logout", "LogIn", null)">LogOut</a>
                                    </div>
                                </li>
                            </ul>
                        }
                    </div>
                </div>
            </nav>
        </div>
         }
        <div class="container body-content container-data">
            @RenderBody()
        </div>

        <div>
            <footer class="page-footer fixed-bottom">
                <div class="container">
                    <!-- Copyright -->
                    <div class="footer-copyright text-center py-3">
                        © 2019 Copyright
                    </div>
                    <!-- Copyright -->
                </div>
            </footer>
        </div>

   
</body>
</html>