@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model FeLuisesScrumDEV.Models.Project

@{
    ViewBag.Title = "Delete";
}

<link href="~/FeStyles/feLuisesStyles.css" rel="stylesheet" type="text/css">
<div class="container">
    <h2 id="heading-red">Desea eliminar este Proyecto?</h2>
    <div class="card border-dark" id="shadow-Fe1">
        <h2 class="card-header text-white" id="back-Fe1"> @Model.projectName?</h2>
        <div class="card-body">
            <dl class="dl-horizontal">
                <dt>
                    <b>Nombre del Proyecto</b>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.projectName)
                </dd>

                <dt>
                    <b>Objetivo</b>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.objective)
                </dd>

                <dt>
                    <b>Costo Estimado</b>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.estimatedCost)
                </dd>

                <dt>
                    <b>Costo Real</b>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.realCost)
                </dd>

                <dt>
                    <b>Fecha de Inicio</b>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.startingDate)
                </dd>

                <dt>
                    <b>Fecha de Finalización</b>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.finishingDate)
                </dd>

                <dt>
                    <b>Presupuesto</b>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.budget)
                </dd>

                <dt>
                    <b>Duración Estimada</b>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.estimatedDuration)
                </dd>

                <dt>
                    <b>Cliente</b>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Client.clientName)
                </dd>
            </dl>
        </div>
        <div class="card-footer" id="back-Fe1">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

            <div class="form-actions no-color">

                <input type="image" src="~/Images/accept.svg" class="btn btn-outline-success" alt="Submit" />

                <a class="btn btn-outline-danger" role="button" href="@Url.Action("Details", "Projects",  new { id = Model.idProjectPK })">
                    <img src="~/Images/cancel.svg" width="25" height="25" class="d-inline-block align-top" alt="">
                </a>

            </div>
            }
        </div>
    </div>
</div>