@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model FeLuisesScrumDEV.Models.Project

@{
    ViewBag.Title = "Delete";
}

<link href="~/FeStyles/feLuisesStyles.css" rel="stylesheet" type="text/css">
<div class="container">
    <h2 id="heading-red">Desea eliminar este Proyecto?</h2>
    <div class="card border-dark" id="shadow-Fe1">
        <h2 class="card-header text-white" id="back-Fe1"> @Model.projectName?</h2>
        <div class="card-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.projectName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.projectName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.objective)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.objective)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.estimatedCost)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.estimatedCost)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.realCost)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.realCost)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.startingDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.startingDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.finishingDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.finishingDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.budget)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.budget)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.estimatedDuration)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.estimatedDuration)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Client.clientName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Client.clientName)
                </dd>
            </dl>
        </div>
        <div class="card-footer" id="back-Fe1">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <a class="btn" role="button" href="@Url.Action("Edit", "Projects",  new { id = Model.idProjectPK })">
                        <img src="~/Images/b-back.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                    </a>
                    <input type="image" src="~/Images/delete.svg" class="btn btn-outline-danger" alt="Submit" />
                </div>
            }
        </div>
    </div>
</div>