@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model FeLuisesScrumDEV.Models.Project

@{
    ViewBag.Title = "Details";
}

<link href="~/FeStyles/feLuisesStyles.css" rel="stylesheet" type="text/css">
<div class=" container">
    <h2>Detalle de Proyecto</h2>

    <div class="card rounded border-dark" id="shadow-Fe1" style="width: auto; height:auto;">
        <h2 class="card-header text-white" id="back-Fe1">@Model.projectName</h2>
        <div class="card-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.projectName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.projectName)
                    @if (Model.projectName == null)
                    {
                        <p class="card-text text-info">Informacion no disponible</p>
                    }
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.objective)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.objective)
                    @if (Model.objective == null)
                    {
                        <p class="card-text text-info">Informacion no disponible</p>
                    }
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.estimatedCost)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.estimatedCost)
                    @if (Model.estimatedCost == null)
                    {
                        <p class="card-text text-info">Informacion no disponible</p>
                    }
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.realCost)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.realCost)
                    @if (Model.realCost == null)
                    {
                        <p class="card-text text-info">Informacion no disponible</p>
                    }
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.startingDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.startingDate)
                    @if (Model.startingDate == null)
                    {
                        <p class="card-text text-info">Informacion no disponible</p>
                    }
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.finishingDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.finishingDate)
                    @if (Model.finishingDate == null)
                    {
                        <p class="card-text text-info">Informacion no disponible</p>
                    }
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.budget)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.budget)
                    @if (Model.budget == null)
                    {
                        <p class="card-text text-info">Informacion no disponible</p>
                    }
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.estimatedDuration)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.estimatedDuration)
                    @if (Model.estimatedDuration == null)
                    {
                        <p class="card-text text-info">Informacion no disponible</p>
                    }
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Client.clientName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Client.clientName)
                    @if (Model.Client.clientName == null)
                    {
                        <p class="card-text text-info">Informacion no disponible</p>
                    }
                </dd>

            </dl>
        </div>
        <div class="card-footer" id="back-Fe1">
            <a class="btn" role="button" href="@Url.Action("Index", "Projects", null )">
                <img src="~/Images/b-back.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            </a> 
            <a class="btn" role="button" href="@Url.Action("Edit", "Projects", new { id = Model.idProjectPK } )">
                <img src="~/Images/edit.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            </a>
        </div>
    </div>
    
</div>