<!DOCTYPE html>
<html>
@model FeLuisesScrumDEV.Models.Client

<head>
    @{
        ViewBag.Title = "Delete";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <link href="~/FeStyles/feLuisesStyles.css" rel="stylesheet" type="text/css">

</head>

<body>
    <div class="container">
        <h2 id="heading-red">Desea eliminar este cliente?</h2>
        <div>
            <div class="card border-dark shadow rounded" style="width: auto; height: auto;">

                <div class="card-header bg-dark">
                    <h2 class="card-header text-white">Cliente</h2>
                </div>

                <div class="card-body">

                    <dl class="dl-horizontal">
                        <dt>
                            <b>Nombre</b>
                            @*@Html.DisplayNameFor(model => model.clientName)*@
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.clientName)
                        </dd>

                        <dt>
                            <b>Apellido</b>
                            @*@Html.DisplayNameFor(model => model.clientLastName)*@
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.clientLastName)
                        </dd>

                        <dt>
                            <b>Segundo Apellido</b>
                            @*@Html.DisplayNameFor(model => model.clientSecondLastName)*@
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.clientSecondLastName)
                        </dd>

                        <dt>
                            <b>Compañía</b>
                            @*@Html.DisplayNameFor(model => model.company)*@
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.company)
                        </dd>

                        <dt>
                            <b>Teléfono</b>
                            @*@Html.DisplayNameFor(model => model.tel)*@
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.tel)
                        </dd>

                        <dt>
                            <b>E-Mail</b>
                            @*@Html.DisplayNameFor(model => model.email)*@
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.email)
                        </dd>

                    </dl>
                </div>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <a class="btn" role="button" href="@Url.Action("Edit", "Clients", new { id = Model.idClientPK })">
                    <img src="~/Images/back.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                </a> |
                <input type="image" src="~/Images/delete.svg" class="btn btn-outline-danger" alt="Submit" />
            </div>
                }
            </div>
        </div>
    </div>
</body>
</html>