@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model FeLuisesScrumDEV.Models.Client

@{
    ViewBag.Title = "Details";
}

<link href="~/FeStyles/feLuisesStyles.css" rel="stylesheet" type="text/css">


    @if (Session["userName"] == null)
    {

        <div class="container">

            <div class="card">
                <div class="card-header">
                    <h2 id="heading-red">No se vale hackear!</h2>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Debe logguearse para hacer uso de la aplicación</h5>
                    <a href=@Url.Action("Index", "Login") class="btn btn-danger">Volver</a>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class=" container">
            <h2>Detalle de Proyecto</h2>
            <hr />
            <div class="card rounded border-dark" id="shadow-Fe1" style="width: auto; height:auto;">
                <h2 class="card-header text-white" id="back-Fe1">@Model.clientName</h2><!--Inicio y fin de encabezado de la card (título)-->
                <div class="card-body">
                    <!--inicio del cuerpo de la card (sección del medio)-->
                    <div class="form">
                        <!--Inicio de vista en "formulario"-->
                        <div class="form-row">
                            <!--Inicio de fila-->
                            <div class="col">
                                <!--Inicio de columna-->
                                <div class="form-group">
                                    <b>Nombre del Cliente</b>
                                    <div class="col-md-10">
                                        @Html.DisplayFor(model => model.clientName)
                                        @if (Model.clientName == null)
                                        {
                                            <p class="card-text text-info">Informacion no disponible</p>
                                        }
                                    </div>
                                </div>

                                <div class="form-group">
                                    <b>Compañia</b>
                                    <div class="col-md-10">
                                        @Html.DisplayFor(model => model.company)
                                        @if (Model.company == null)
                                        {
                                            <p class="card-text text-info">Informacion no disponible</p>
                                        }
                                    </div>
                                </div>

                            </div><!--Fin de columna-->
                            <div class="col">
                                <!--Inicio de columna-->
                                <div class="form-group">
                                    <b>Apellido</b>
                                    <div class="col-md-10">
                                        @Html.DisplayFor(model => model.clientLastName)
                                        @if (Model.clientLastName == null)
                                        {
                                            <p class="card-text text-info">Informacion no disponible</p>
                                        }
                                    </div>
                                </div>

                                <div class="form-group">
                                    <b>E-Mail</b>
                                    <div class="col-md-10">
                                        @Html.DisplayFor(model => model.email)
                                        @if (Model.email == null)
                                        {
                                            <p class="card-text text-info">Informacion no disponible</p>
                                        }
                                    </div>
                                </div>
                            </div><!--Fin de columna-->
                            <div class="col">
                                <!--Inicio de columna-->
                                <div class="form-group">
                                    <b>Segundo Apellido</b>
                                    <div class="col-md-10">
                                        @Html.DisplayFor(model => model.clientSecondLastName)
                                        @if (Model.clientSecondLastName == null)
                                        {
                                            <p class="card-text text-info">Informacion no disponible</p>
                                        }
                                    </div>
                                </div>
                                <div class="form-group">
                                    <b>Teléfono</b>
                                    <div class="col-md-10">
                                        @Html.DisplayFor(model => model.tel)
                                        @if (Model.tel == null)
                                        {
                                            <p class="card-text text-info">Informacion no disponible</p>
                                        }
                                    </div>
                                </div>

                            </div><!--Fin de columna-->
                        </div><!--Fin de form-row-->
                    </div><!--Fin de class form-->
                </div><!--Fin de card-body-->
                <div class="card-footer" id="back-Fe1">
                    <!--Inicio del footer-->
                    <a class="btn" role="button" href="@Url.Action("Index", "Clients", null)">
                        <img src="~/Images/b-back.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                    </a>

                    @if (Convert.ToInt32(Session["userRole"]) == 0) // Solo si es jefe desarrollador
                    {
                        <a class="btn" role="button" href="@Url.Action("Edit", "Clients", new { id = Model.idClientPK })">
                            <img src="~/Images/edit.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                        </a><!--Botón para entrar a editar el proyecto.-->
                        <a class="btn btn-outline-danger" role="button" href="@Url.Action("Delete", "Clients", new { id = Model.idClientPK })">
                            <img src="~/Images/delete.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                        </a><!--Botón para entrar a borrar el proyecto.-->
                    }
                </div><!--Fin de card-footer-->
            </div><!--Fin de card-->
        </div><!--Fin del container-->
    }



