<!DOCTYPE html>
<html>
@model FeLuisesScrumDEV.Models.Client
<head>
    @{
        ViewBag.Title = "Edit";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

</head>

<body>
    <h2>Editar</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-row">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.idClientPK)

            <div class="form-group">
                <b>Nombre</b>
                @*@Html.LabelFor(model => model.clientName, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.EditorFor(model => model.clientName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.clientName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <b>Apellido</b>
                @*@Html.LabelFor(model => model.clientLastName, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.EditorFor(model => model.clientLastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.clientLastName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <b>Segundo Apellido</b>
                @*@Html.LabelFor(model => model.clientSecondLastName, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.EditorFor(model => model.clientSecondLastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.clientSecondLastName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <b>Compañía</b>
                @*@Html.LabelFor(model => model.company, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.EditorFor(model => model.company, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.company, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <b>Teléfono</b>
                @*@Html.LabelFor(model => model.tel, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.EditorFor(model => model.tel, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.tel, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <b>E-Mail</b>
                @*@Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value= Salvar class="btn btn-default" />
                    <span></span>
                </div>
            </div>
        </div>
    }

<div>
    <a class="btn" role="button" href="@Url.Action("Index", "Clients")">
        <img src="~/Images/back.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    </a>
</div>
</body>
</html>