<html>
<head>
    @model IEnumerable<FeLuisesScrumDEV.Models.GetReqStatsbyComplexity_Result>
    @{
        ViewBag.Title = "compareReqStatsbyComplexity";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <link href="~/FeStyles/feLuisesStyles.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            @foreach( var item in Model )
            {
                var id = "#" + @item.Dificultad.ToString();
                var checkboxid = "#" + @item.Dificultad.ToString() + "Check";
                <text>
                $('@id').hide();
                $('@checkboxid').change(function () {
                    $('@id').toggle();
                });
                </text>
            }
        });
    </script>

</head>
<body>
    <h2>compareReqStatsbyComplexity</h2>

    @Html.DropDownList("complexity", null, htmlAttributes: new { @class = "form-control" })

    @if (Model != null)
    {

        foreach (var item in Model)
        {
            var idCheck = item.Dificultad + "Check";
            var idItem = item.Dificultad.ToString();
            <input type="checkbox" id="@idCheck" onclick="myFunction('@idItem')">
        }
        <div class="row">
            <div class="col-md-10 my-4 mx-auto">
                <h2 class="text-center">Comparación de estimaciones y duraciones reales de requerimientos según complejidad</h2>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsve">
                            <table class="table table-striped table-hover">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th class="w-25"></th>
                                        <th class="">Cantidad de requerimientos</th>
                                        <th class="">Diferencia minima</th>
                                        <th class="">Diferencia máxima</th>
                                        <th class="">Diferencia promedio</th>
                                        <th class="">Promedio duración real</th>
                                        <th class="">Promedio duración estimada</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ToList())
                                    {
                                        <tr id="@item.Dificultad">
                                            <td>
                                                @item.Dificultad
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Total)
                                            </td>


                                            <td>
                                                @Html.DisplayFor(modelItem => item.Minima_Diff)
                                            </td>


                                            <td>
                                                @Html.DisplayFor(modelItem => item.Avg_Diff)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Max_Diff)
                                            </td>


                                            <td>
                                                @Html.DisplayFor(modelItem => item.Avg_Est)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Avg_Real)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</body>
</html>
