<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <link href="~/FeStyles/feLuisesStyles.css" rel="stylesheet" type="text/css">
</head>

<body>
    @if (Session["userName"] == null)
    {
        <div class="container">

            <div class="card">
                <div class="card-header">
                    <h2 id="heading-red">No se vale hackear!</h2>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Debe logguearse para hacer uso de la aplicación</h5>
                    <a href=@Url.Action("Index", "Login") class="btn btn-danger">Volver</a>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="container">
            <div class="card border-dark rounded mb-3" id="shadow-Fe" style="width: auto; height:auto;">
                <h2 class="card-header text-white" id="back-Fe1">Reportes disponibles</h2>
                <div class="card-body">
                    <div class="row">


                        @if (Convert.ToInt32(Session["userRole"]) == 0)
                        {
                        <div class="row">

                            <div class="col-sm-4">
                                <div class="card border-dark rounded shadow-none" style="margin-top: 15px">
                                    <div class="card-header" id="back-Fe">
                                        <a class="btn text-white" role="button" href=@Url.Action("DeveloperState", "Reports")>
                                            <b>
                                                1.Desarrolladores asignados a
                                                proyectos y disponibles
                                            </b>
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">
                                            Para desarrolladores actualmente asignados a los proyectos: 
                                            Nombre del desarrollador, nombre del proyecto, fecha de inicio, 
                                            fecha de estimada de terminación ordenado en forma descendente 
                                            por fecha de estimada de terminación. Para los desarrolladores disponibles: lista de sus nombres.
                                        </p>
                                    </div>
                                    <div class="card-footer" id="back-Fe"><b class="text-white text-center">Felipe Solís</b></div>
                                </div>
                                <div class="card border-dark rounded shadow-none" style="margin-top: 15px">
                                    <div class="card-header" id="back-Fe">
                                        <a class="btn text-white" role="button" href="@Url.Action("devsHistoryOnProjects", "Reports")"><b>4. Historial Desarrollador en Proyectos</b></a>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">Al seleccionar el nombre del desarrollador,
                                        se requiere conocer los nombres de los proyectos en los cuales 
                                        participó este desarrollador, su rol y total de horas dedicadas a 
                                        este proyecto. Para el líder la cantidad de horas debe ser un campo vacío.</p>
                                    </div>
                                    <div class="card-footer" id="back-Fe"><b class="text-white text-center">Luis Valderde</b></div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card border-dark rounded shadow-none" style="margin-top: 15px">
                                    <div class="card-header" id="back-Fe">
                                        <a class="btn text-white" role="button" href=@Url.Action("DeveloperState", "Reports")>
                                            <b>
                                                2. Comparación entre duración estimada y real por cada requerimiento
                                            </b>
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">
                                            En la parte general debe aparecer el nombre del desarrollador
                                            y se debe poder seleccionar un proyecto específico terminado o
                                            todos proyectos ya terminados en los cuales participó este desarrollador.
                                            En los detalles para cada proyecto de este desarrollador debe aparecer:
                                            nombre del proyecto (si son todos), nombre del requerimiento, complejidad,
                                            duración estimada, duración real y la diferencia entre estas dos duraciones.
                                        </p>
                                    </div>
                                    <div class="card-footer" id="back-Fe"><b class="text-white text-center">José Luis</b></div>
                                </div>
                                <div class="card border-dark rounded shadow-none" style="margin-top: 15px">
                                    <div class="card-header" id="back-Fe">
                                        <a class="btn text-white" role="button" href="@Url.Action("requirmentState", "Reports")"><b>5. Estado de Requerimientos</b></a>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">
                                            * Para el desarrollador debe desplegarse los nombres de los requerimientos asignados en el proyecto actual,
                                            agrupados por requerimientos (1) con el estado terminado con fecha inicio y fecha de terminación, (2) con el estado en ejecución
                                            con la fecha de inicio y duración estimada.
                                            * Para el líder se deben desplegar los mismos datos seleccionando un desarrollador específico o todos asignados al proyecto.
                                            * Para el Jefe de desarrollo se deben desplegar los mismos datos seleccionando un proyecto específico. Adicionalmente, debe
                                            incluirse el nombre del líder y nombres de cada desarrollador para quién se despliegan los requerimientos.
                                        </p>
                                    </div>
                                    <div class="card-footer" id="back-Fe"><b class="text-white text-center">Luis Carvajal</b></div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card border-dark rounded shadow-none" style="margin-top: 15px">
                                    <div class="card-header" id="back-Fe">
                                        <a class="btn text-white" role="button" href="@Url.Action("estimatedRealTimeDev", "Reports")"><b>3. Comparar la duración estimada y real para requerimiento de un desarrollador</b></a>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">
                                            Para el líder debe desplegarse el nombre del proyecto donde es líder actualmente,
                                            total de horas estimadas y reales y la diferencia entre estos valores. Para el jefe de desarrollo debe
                                            poderse seleccionar un proyecto específico o todos proyectos con los mismos despliegues que para el
                                            líder y con un dato adicional que es el nombre del líder de este proyecto.
                                        </p>
                                    </div>
                                    <div class="card-footer" id="back-Fe"><b class="text-white text-center">José Luis</b></div>
                                </div>
                                <div class="card border-dark rounded shadow-none" style="margin-top: 15px">
                                    <div class="card-header" id="back-Fe">
                                        <a class="btn text-white" role="button" href="#"><b>6. Periodos de desocupación de los desarrolladores dentro de un rango de fechas.</b></a>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">
                                            Dentro de un rango de fechas seleccionado, se debe desplegar nombre del desarrollador, periodos de desocupación),
                                            días transcurridos en cada una de estas fechas y días totales de desocupación ordenado en forma descendente por 
                                            los días totales de desocupación.
                                        </p>
                                    </div>
                                    <div class="card-footer" id="back-Fe"><b class="text-white text-center">Felipe Solís</b></div>
                                </div>

                            </div>


                        </div><!--row-->
                        }


                        <div class="col-sm-4">





                            <div class="card border-dark rounded shadow-none" style="margin-top: 15px">
                                <div class="card-header" id="back-Fe">
                                    <a class="btn text-white" role="button" href="@Url.Action("totalRequirements", "Reports")">10. Requerimientos Terminados y en Progreso</a>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">El cliente puede realizar una consulta rápida sobre el estado de su proyecto con respecto a la ejecución de requerimientos. Luis Valverde.</p>
                                </div>
                                <div class="card-footer" id="back-Fe">

                                </div>
                            </div>
                        </div>


                        <div class="col-sm-4">

                            <div class="card border-dark rounded shadow-none" style="margin-top: 15px">
                                <div class="card-header" id="back-Fe">
                                    <a class="btn text-white" role="button" href="">Consulta 3</a>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Escriban aquí sus consultas</p>
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-4">

                            <div class="card border-dark rounded shadow-none" style="margin-top: 15px">
                                <div class="card-header" id="back-Fe">
                                    <a class="btn text-white" role="button" href="@Url.Action("estimatedRealTimeDev", "Reports")"><b>Comparar la duración estimada y real para requerimiento de un desarrollador</b></a>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Permite verificar el desempeño (cumplimiento de duraciones estimadas) de un desarrollador específico en un proyecto específico o en todos proyectos que participó.</p>
                                </div>
                            </div>

                            <div class="card border-dark rounded shadow-none" style="margin-top: 15px">
                                <div class="card-header" id="back-Fe">
                                    <a class="btn text-white" role="button" href=@Url.Action("InactivityPeriod", "Reports")>6.Periodos de desocupación de los desarrolladores dentro de un rango de fechas</a>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">
                                        Esta consulta permite al Jefe
                                        de desarrollo analizar si
                                        existen desarrolladores que
                                        pasan desocupados con
                                        mucha frecuencia lo que
                                        ocasiona a la empresa la
                                        pérdida de ganancias. Felipe
                                    </p>
                                </div>
                            </div>
                        </div>


                    </div><!--row-->

                    <div class="row">

                        <div class="col-sm-4">

                            <div class="card border-dark rounded shadow-none" style="margin-top: 15px">
                                <div class="card-header" id="back-Fe">
                                    <a class="btn text-white" role="button" href="@Url.Action("totalHours", "Reports")"><b>Total de horas estimadas y reales requeridas por un proyecto</b></a>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Permite conocer si existe una brecha significativa entre el tiempo estimado y real que es un factor importante para las futuras planificaciones y ganancias de la empresa.</p>
                                </div>
                            </div>

                            <div class="card border-dark rounded shadow-none" style="margin-top: 15px">
                                <div class="card-header" id="back-Fe">
                                    <a class="btn text-white" role="button" href="">Consulta 8</a>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Escriban aquí sus consultas</p>
                                </div>
                            </div>

                        </div>


                        <div class="col-sm-4">

                            <div class="card border-dark rounded shadow-none" style="margin-top: 15px">
                                <div class="card-header" id="back-Fe">
                                    <a class="btn text-white" role="button" href="">Consulta 9</a>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Escriban aquí sus consultas</p>
                                </div>
                            </div>

                            <div class="card border-dark rounded shadow-none" style="margin-top: 15px">
                                <div class="card-header" id="back-Fe">
                                    <a class="btn text-white" role="button" href="">Consulta 10</a>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Escriban aquí sus consultas</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">

                            <div class="card border-dark rounded shadow-none" style="margin-top: 15px">
                                <div class="card-header" id="back-Fe">
                                    <a class="btn text-white" role="button" href="">Consulta 11</a>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Escriban aquí sus consultas</p>
                                </div>
                            </div>

                            @*<div class="card border-dark rounded shadow-none" style="margin-top: 15px">
                                    <div class="card-header" id="back-Fe">
                                        <a class="btn text-white" role="button" href="">Consulta 6</a>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">Escriban aquí sus consultas</p>
                                    </div>
                                </div>*@
                        </div>


                    </div><!--row-->


                </div><!--CardBody-->
                <div class="card-footer" id="back-Fe1">

                </div>
            </div> <!--card-->

        </div>
    }
</body>
</html>



