<!DOCTYPE html>

<html>
@model IEnumerable<FeLuisesScrumDEV.viewModel.requirmentStatus_Result_Mapped>
<head>
    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <link href="~/FeStyles/feLuisesStyles.css" rel="stylesheet" type="text/css">


    <script>
        $(document).ready(function () {
            $('#stateReqDev').DataTable({ searching: false, paging: false });

            $("#Text").change(function () {
                var categoryId = $("#Text").val();
                $("#bossQuery").load('@(Url.Action("requirmentStatusBoss","Reports",null, Request.Url.Scheme))?projectID=' + categoryId);
            });

            $("#Text").change(function () {
                var categoryId = $("#Text").val();
                $("#leaderQuery").load('@(Url.Action("requirmentStatusLeader","Reports",null, Request.Url.Scheme))?devID=' + categoryId);
            });
            
        });
    </script>
</head>

<body>
    @if (Session["userName"] == null || Convert.ToInt32(Session["userRole"]) == 3)
    {
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h2 id="heading-red">No se vale hackear!</h2>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Debe logguearse para hacer uso de la aplicación</h5>
                    <a href=@Url.Action("Index", "Login") class="btn btn-danger">Volver</a>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="container">
            <div>
                <h2>Estado de Requerimientos</h2>
                <hr />
            </div>

            @if (Convert.ToInt32(Session["userRole"]) == 0) // Si es jefe escoge un proyecto
            {
                <div class="dropdown">
                    @Html.DropDownList("Text", ((FeLuisesScrumDEV.Controllers.ReportsController)this.ViewContext.Controller).ProjectsList(0), "PROYECTOS", new { @class = "form-control" })

                    <div id="bossQuery"></div>
                </div>

            }
            else if (Convert.ToInt32(Session["userRole"]) == 1) // si es desarrollador
            {
                <div class="p-3 mb-2 bg-info text-dark">
                    <b>Proyecto: @ViewBag.general </b>
                </div>
                <div id="devquery">
                    <h3>Requerimientos Completados</h3>
                    <hr />
                    <table id="stateReqDev" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    Requerimiento
                                </th>
                                <th>
                                    Fecha de Inicio
                                </th>
                                <th>
                                    Fecha de Finalización
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                if (item.Estado == 3)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modeItem => item.Nombre_Requerimiento)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modeItem => item.Fecha_de_inicio)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modeItem => item.Fecha_de_Finalizacion)
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>

                    <h3>Requerimientos en Proceso</h3>
                    <hr />
                    <table id="stateReqDev" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    Requerimiento
                                </th>
                                <th>
                                    Fecha de Inicio
                                </th>
                                <th>
                                    Duración Estimada
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                if (item.Estado == 1)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modeItem => item.Nombre_Requerimiento)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modeItem => item.Fecha_de_inicio)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modeItem => item.Duracion_Estimada)
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>

                </div>
            }
            else if (Convert.ToInt32(Session["userRole"]) == 2) // si es líder
            {
                <div class="p-3 mb-2 bg-warning text-dark">
                    <b>Proyecto: </b>
                </div>
                <div class="dropdown">
                    @Html.DropDownList("Text", ((FeLuisesScrumDEV.Controllers.ReportsController)this.ViewContext.Controller).EmployeeList(), "Empleados", new { @class = "form-control" })
                    <div id="leaderQuery"></div>
                </div>
            }

        </div>
    }
</body>
</html>
